version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'
    groups:
      github-actions:
        patterns:
          - '*'
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'monthly'
    groups:
      npm:
        patterns:
          - '*'
  - package-ecosystem: 'npm'
    directory: 'examples/express/'
    schedule:
      interval: 'monthly'
    groups:
      npm:
        patterns:
          - '*'
  - package-ecosystem: 'npm'
    directory: 'examples/react-app/'
    schedule:
      interval: 'monthly'
    groups:
      npm:
        patterns:
          - '*'
